cssselect==0.9.2
DateTime==4.1.1
dj-database-url==0.4.1
httplib2==0.9.2
lorem-ipsum-generator==0.3
MarkupSafe==0.23
pdfkit==0.5.0
Pillow==3.3.1
pygal==2.2.3
PyPDF2==1.26.0
pyTelegramBotAPI==2.1.6
pytz==2016.6.1
reportlab==3.3.0
requests==2.11.1
six==1.10.0
schedule==0.3.2
tinycss==0.3
transliterate==1.8.1
uuid==1.30
zope.interface==4.2.0
